* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #b5c3be;
}
.cont {
  width: 80%;
  margin: auto;
}
.flex {
  display: flex;
}
.sb {
  justify-content: space-between;
}
.sa {
  justify-content: space-around;
}
.mg {
  margin: 1rem;
}
.pad {
  padding: 1rem;
}
li {
  list-style: none;
  margin: 0 5px;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 3rem;
}
h2{
  font-size: 2rem;
  color: #1f4e3d;

}

header {
  color: gray;
}
.base {
  background-image: url(./component/img/base.png);
  background-repeat: no-repeat;
  padding: 9rem 0;
  background-size: cover;
  color: white;
  background-position: center;
}
.orange {
  background: #f7c35f;
  margin-bottom: 100px;
}
.img-sm {
  height: 250px;
  width: 320px;
}
.tag {
  background: white;
  padding: 0.6rem;
  text-align: center;
  width: 150px;
  border-radius: 5px;
  color: green;
}
.bt{
  margin-top: 1rem;
  border-top: grey solid 1px;
}
button {
  color: white;
  background: #f7c35f;
  padding: 1em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
}
input {
  height: 20px;
}
input,
textarea{
  background: #F6F5F2;
  padding: 1rem;
  margin-bottom: 5px;
}
.three {
  position: relative;
  top: 100px;
}
.two {
  position: relative;
  top: -30px;
  left: 20px;
  justify-self: center;
}
.contact {
  background-color: #1f4e3d;
  opacity: 0.9;
  color: white;
}
.feedback{
  background-color: #1F4E3D;
  margin-bottom: 800px;
  color: white;
  opacity: 1;
  height: 330px;
  
}
.feedback2{
  background: #F6F5F2;
  color: grey;
  padding: 2rem;
  justify-content: space-around;
  top: -0.1px;
}
.comphoto{
  width: 300px;
  margin: auto;
}
.white{
  background: white;
}
.login{
  position: relative;
  width: 500px;
  height: 700px;
  top: 50px;
  left: -100px;
}
.rec{
  top: -150px;
  left: -100px;
}
.box1{
  background: #F7C35F;
  width: 15px;
  height: 100px;
  top: 40px;
  border-radius: 5px;
}
.box2{
  background: #1F4E3D;
  width: 150px;
  height: 100px;
  top: 40px;
  border-radius: 5px;
}
.dell{
  text-align: center;
  margin-bottom: 6rem;
}
footer {
  background-color: #1f4e3d;
  color: #b5c3be;
  justify-content: space-between;
  margin-bottom: 1rem;
}
